/*
 * Variables file
 * Space for any custom variables used by this application
 */

/*------- COLORS -------*/
/*----------------------*/
@primary: #002551;
@success: #70a0b0;
@success-dark: #426085;
@danger: #f94c5f;
@warning: silver;
@gray: #999999;
@light: #85a3c7;
@dark: #002044;
@pink: #FFEEEE;

@facebook: #3b5998;


/*----- Typography -----*/
/*----------------------*/
@font-bold: 700;
@font-medium: 500;
@font-regular: 400;
@font-light: 300;
@font-thin: 200;


/*----------------------*/

