description = "Default Layout"
==
<!DOCTYPE html>
<html>
<head>
    {% partial 'head' %}
</head>
<body class="soft-primary-bg">
    <!-- Header -->
    <div class="header soft-primary-bg full-width">
        {% partial 'header' %}
    </div>

    <main>
        <img src="{{ 'assets/images/hands-primary.png'|theme }}" alt="hands" class="attachment">
        {% page %}
    </main>

    <!-- Footer -->
    <footer class="light-bg">
    {% partial 'footer' %}
    </footer>


    <!-- Scripts -->
    <script src="{{ 'assets/javascript/app.js'|theme }}"></script>

    {% framework extras %}
    {% scripts %}
</body>
</html>
