description = "Home Page layout"

[staticPage]
useContent = 1
default = 1
childLayout = "static"

[SeoStaticPage]

[genericForm]
messages_success = "Ваша форма була успішно відправлена!"
messages_errors = "Ваша заявка містить помилки."
inline_errors = "disabled"
sanitize_data = "disabled"
anonymize_ip = "disabled"
recaptcha_theme = "light"
recaptcha_type = "image"
recaptcha_size = "normal"
emails_date_format = "d-m-Y"

==
<!DOCTYPE html>
<html>
<head>
    {% component 'SeoStaticPage' %}
    {% partial 'head' %}
</head>
<body>
    <div class="soft-primary-bg relative">
        <!-- Header -->
        <div class="header absolute full-width z-index-2">
            {% partial 'header' %}
        </div>
        <div class="page-cover image-container row-reverse">
            <div class="relative overflow-hidden">
                <div class="absolute right soft-warning-bg overflow-visible">

                </div>
                <section class="font-none">
                    <img src="{{ 'assets/images/hands.jpg'|theme }}" alt="" class="contain full-width full-height">
                </section>
            </div>
            <div class="font-18 flex-center-center">
                <div class="white-txt max-w-640 pl-30">
                    <h1>Sed ut perspiciatis, quia voluptas sit quia can help</h1>
                    <p>
                        Our highly talented therapists can help you with a
                        range of issues including relationships, sex, PTSD,
                        depression, social anxiety, or even just caring for yourself more.
                    </p>
                    <a href="/otrymaty-dopomogu"
                       class="btn inline-block primary-bg font-14 px-20 py-10 hover-soft-warning-bg hover-dark-txt">
                        Отримати допомогу
                    </a>
                </div>
            </div>
        </div>
    </div>
    <main>
        <div id="about-fond" class="image-container row-reverse soft-warning-bg text-center">
            <img src="{{ 'assets/images/childs.jpg'|theme }}" alt="" class="cover">
            <div class="flex-grow flex-center-center text-left">
                <div class="max-w-640 box p-30">
                    {% content 'static-pages/pro-fond.htm' %}
                    <div class="text-right">
                        <a href="/pro-fond" class="btn inline-block soft-primary-bg white-txt font-14 px-20 py-10 hover-warning-bg hover-dark-txt">
                            Докладніше
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div id="activity-areas" class="p-5">
            <h2 class="text-center my-30">НАПРЯМКИ ДІЯЛЬНОСТІ</h2>
            {% partial 'activity' %}
        </div>
        <div id="our-projects" class="p-5">
            <h2 class="text-center my-30">НАШІ ПРОЕКТИ</h2>
            {% partial 'projects' %}
        </div>
        <div id="need-help" class="soft-warning-bg px-30 py-40 flex-ls justify-evenly align-center">
            <div class="max-w-640 py-20">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, asperiores assumenda blanditiis
                    consectetur culpa dolores ducimus est hic ipsa nisi nostrum quaerat quasi reiciendis
                    repellendus sed temporibus tenetur, velit voluptates.
                </p>
            </div>
            <div>
                <a href="/" class="btn white-txt py-10 px-20 primary-bg hover-warning-bg hover-dark-txt nowrap">Потрібна допомога</a>
            </div>
        </div>
    </main>

    <!-- Footer -->
    <footer class="white-bg">
        {% partial 'footer' %}
    </footer>

    <!-- Scripts -->
    <script src="{{ 'assets/javascript/app.js'|theme }}"></script>

    {% framework extras %}
    {% scripts %}
</body>
</html>
