description = "Static Pages"

[staticPage]
useContent = 1
default = 0

[staticBreadcrumbs]

[SeoStaticPage]
==

<!DOCTYPE html>
<html>
<head>
    {% partial 'head' %}
</head>
<body>
    <!-- Header -->
    <div class="header soft-primary-bg full-width">
        {% partial 'header' %}
    </div>

    <main>
        <img src="{{ 'assets/images/hands.png'|theme }}" alt="hands" class="attachment">
        <div class="container text-container py-40">
            <article>
                {% page %}
            </article>
        </div>
    </main>

    <!-- Footer -->
    <footer class="light-bg">
    {% partial 'footer' %}
    </footer>


    <!-- Scripts -->
    <script src="{{ 'assets/javascript/app.js'|theme }}"></script>

    {% framework extras %}
    {% scripts %}
</body>
</html>
