[viewBag]
==
<nav class="activity container grid white-bg text-center box font-14">
    <a href="#" class="snippet">
        <img src="{{ 'assets/images/activity/image-1.png'|theme }}" alt="">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti eaque enim quos veniam.</p>
    </a>
    <a href="#" class="snippet">
        <img src="{{ 'assets/images/activity/image-2.png'|theme }}" alt="">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti eaque enim quos veniam.</p>
    </a>
    <a href="#" class="snippet">
        <img src="{{ 'assets/images/activity/image-3.png'|theme }}" alt="">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti eaque enim quos veniam.</p>
    </a>
    <a href="#" class="snippet">
        <img src="{{ 'assets/images/activity/image-4.png'|theme }}" alt="">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti eaque enim quos veniam.</p>
    </a>
    <a href="#" class="snippet">
        <img src="{{ 'assets/images/activity/image-5.png'|theme }}" alt="">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti eaque enim quos veniam.</p>
    </a>
    <a href="#" class="snippet">
        <img src="{{ 'assets/images/activity/image-6.png'|theme }}" alt="">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti eaque enim quos veniam.</p>
    </a>
</nav>
