description = "Layout Footer"

[viewBag]
==



<div class="flex-between-stretch">

    <img src="{{ 'assets/images/footer-image.jpg'|theme }}" alt="" width="400px">

    <div class="flex-grow font-light">
        <ul class="inline-block max-w-640 valign-top px-20">
            <h3>SOME INFO</h3>
            <li>
                <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Consequatur cupiditate dicta excepturi molestiae mollitia
                provident quas tempore! Ad, corporis eligendi, fugit id ipsa
                laboriosam odio provident reiciendis totam vel voluptate!
                </p>
            </li>
        </ul>
        <ul class="inline-block valign-top px-20">
            <h3>КОНТАКТИ</h3>
            <li>Main Street 1, Olcott</li>
            <li>Buffalo, United States</li>
            <li><a href="tel://0950000000" class="block mt-30 mb-5 primary-txt underline">+555 283 784 333</a></li>
            <li>office@enfold-health.com</li>
        </ul>
        <ul class="inline-block valign-top px-20">
            <h3>РОБОЧІ ГОДИНИ</h3>
            <li>Пн-Пт: 9:00-18:00</li>
            <li>Сб-Нд: Вихідний</li>
        </ul>
    </div>
</div>

<div class="copyright primary-bg warning-txt font-13 text-center py-20">
    © Copyright
</div>
