[blogPosts]
description = "Проекти"
postsPerPage = 20
pageNumber = "{{ :page }}"
noPostsMessage = "Is Empty"
sortOrder = "published_at desc"

postPage = "proekty"
==
{% set posts = blogPosts.posts %}

<div class="container projects grid">
    {% for post in posts %}
    <a href="/{{ post.categories[0].slug }}/{{ post.slug }}" class="snippet font-14 white-txt">
        <img src="{{ (post.featured_images|first).path }}" alt="">
        <div class="p-20">
            <p class="font-bold font-20 my-0">{{ post.title }}</p>
            <p>{{ post.excerpt }}</p>
        </div>
    </a>
    {% endfor %}
</div>
