[viewBag]
==

<div class="container projects grid primary-bg">
    <a href="#" class="snippet font-14 white-txt">
        <img src="{{ 'assets/images/childs.jpg'|theme }}" alt="">
        <div class="p-20">
            <p class="font-bold font-20 my-0">Lorem ipsum dolor sit amet, consectetur</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti eaque enim quos veniam.</p>
        </div>
    </a>
    <a href="#" class="snippet font-14 white-txt">
        <img src="{{ 'assets/images/childs.jpg'|theme }}" alt="">
        <div class="p-20">
            <p class="font-bold font-20 my-0">Lorem ipsum dolor sit amet, consectetur</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti eaque enim quos veniam.</p>
        </div>
    </a>
    <a href="#" class="snippet font-14 white-txt">
        <img src="{{ 'assets/images/childs.jpg'|theme }}" alt="">
        <div class="p-20">
            <p class="font-bold font-20 my-0">Lorem ipsum dolor sit amet, consectetur</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti eaque enim quos veniam.</p>
        </div>
    </a>
    <a href="#" class="snippet font-14 white-txt">
        <img src="{{ 'assets/images/childs.jpg'|theme }}" alt="">
        <div class="p-20">
            <p class="font-bold font-20 my-0">Lorem ipsum dolor sit amet, consectetur</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti eaque enim quos veniam.</p>
        </div>
    </a>
    <a href="#" class="snippet font-14 white-txt">
        <img src="{{ 'assets/images/childs.jpg'|theme }}" alt="">
        <div class="p-20">
            <p class="font-bold font-20 my-0">Lorem ipsum dolor sit amet, consectetur</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti eaque enim quos veniam.</p>
        </div>
    </a>
    <a href="#" class="snippet font-14 white-txt">
        <img src="{{ 'assets/images/childs.jpg'|theme }}" alt="">
        <div class="p-20">
            <p class="font-bold font-20 my-0">Lorem ipsum dolor sit amet, consectetur</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti eaque enim quos veniam.</p>
        </div>
    </a>
    <a href="#" class="snippet font-14 white-txt">
        <img src="{{ 'assets/images/childs.jpg'|theme }}" alt="">
        <div class="p-20">
            <p class="font-bold font-20 my-0">Lorem ipsum dolor sit amet, consectetur</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti eaque enim quos veniam.</p>
        </div>
    </a>
    <a href="#" class="snippet font-14 white-txt">
        <img src="{{ 'assets/images/childs.jpg'|theme }}" alt="">
        <div class="p-20">
            <p class="font-bold font-20 my-0">Lorem ipsum dolor sit amet, consectetur</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti eaque enim quos veniam.</p>
        </div>
    </a>
</div>
